#altair
numpy
pandas
#streamlit-audiorecorder
#streamlit-audiorec
#streamlit_webrtc
streamlit
openai
audio-recorder-streamlit
# git+https://github.com/openai/whisper.git
#nltk
#gcsfs
#st-files-connection
google-cloud-speech
google-cloud-texttospeech
Authlib
extra-streamlit-components